
.normal {
  margin: auto;
  height: 80%;
  width: 90%;
}

.normal>div>div:nth-child(2) {
  overflow: hidden; /* firefox bug */
  height: 100%; /* safari bug */
}

@keyframes cardBackFont {
  0% { color: black; }
  25% { color: red; }
  100% { color: blue; }
}

.card {
  margin: auto;
  height: 177px;
  width: 150px;

  position: absolute;
  z-index: 2;
  perspective: 800;
  transition: all .8s;

  -ms-perspective: 800;
  -webkit-perspective: 800;
  -o-perspective: 800;
  -moz-perspective: 800;


  -ms-transition: all .8s;
  -webkit-transition: all .8s;
  -o-transition: all .8s;
  -moz-transition: all .8s;
}

.card .stage {
  height: 100%;
  width: 100%;
  position: absolute;
}

.cardCenter {
  transform: rotate(0deg);
  z-index: 999;
  height: 270px;
  width: 270px;

  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

.stageBox {
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: all .6s;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;

  -ms-transition: all .6s;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  -moz-transition: all .6s;
}

.stageBox .cardFront {
  transform: rotateY(0deg);
  background-color: #e1f5fe !important;

  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.stageBox .cardBack {
  transform: rotateY(180deg);
  background-color: #cfd8dc !important;

  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.stageBox .stage {
  backface-visibility: hidden;

  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.stageFront .stageBox {
  transform: rotateY(0deg);

  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
}

.stageBack .stageBox {
  transform: rotateY(180deg);

  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);

  animation: cardBackFont 5s;
  -ms-animation: cardBackFont 5s;
  -webkit-animation: cardBackFont 5s;
  -o-animation: cardBackFont 5s;
  -moz-animation: cardBackFont 5s;
}

.card h3 {
  margin: 0;
  height: 27px;
  text-align: center;
}

.cardImg {
  margin: 0;
  height: 100%;
  width: 100%;
  display: block;
}

.card p {
  margin: 0;
  padding: 15px;
}
