
.normal {
  margin: 0;
}

.card {
  margin: auto;
  height: 200px;
  width: 149px;
  background-color: pink;
  border: 3px solid blue;
}

.card h3 {
  margin: 0;
  height: 27px;
  background-color: red;
}

.card img {
  margin: 0;
  height: 149px;
  display: block;
}

.card strong {
  margin: 0;
  background-color: yellow;
}
