
html, body, :global(#root) {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

:global(#root) {
  background-image: url(./assets/macos.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  font-family: 'Indie Flower', cursive;
}
